<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('explore') }}">Explore</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            <li class="nav-item active">
                {% if current_user.is_anonymous %}
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                {% else %}
                    <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                    <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>